# Python specific
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.env

# IDE specific
.idea/
.vscode/

# Compiled files
*.pyd
*.pyw
*.pyz
*.pyzw
*.dll
*.so
*.dylib

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store
Thumbs.db